@media (max-width: 758px) and (orientation: portrait) {
    html {
        font-size: 130%;
    }
}
@media (max-width: 449px) and (orientation: portrait) {
    html {
        font-size: 100%;
    }
}
@media (max-width: 340px) and (orientation: portrait) {
    html {
        font-size: 80%;
    }
}
@media (min-width: 701px) and (orientation: portrait) {
    html {
        font-size: 178%;
    }
}
.header-home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.bg-container {
    background-image: url("../img/contable.webp");
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex: 1 1 auto;
}
.bg-container-2 {
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    padding: 50px 0;
}
.corner-container {
    width: 100%;
    align-items: start;
    display: flex;
}
.corner-container-2 {
    width: 100%;
    text-align: right;
    display: block;
}
.img-corner {
    width: 43px;
    margin-left: -30px;
}
.img-corner-2 {
    width: 43px;
    margin-top: -30px;
}
.title-container {
    width: 100%;
    max-width: 90%;
    margin: auto;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
}
.title-content {
    padding: 10px 20px 0 20px;
    color: #fff;
    width: 50%;
    text-shadow: 0 0 4px rgb(0 0 0 / 50%);
}
.logo-white {
    width: 80%;
    margin-bottom: 10px;
}
.title {
    font-size: 2.8rem;
    line-height: 1em;
    font-weight: 500;
    font-family: 'Red Hat Display', sans-serif;
}
.description {
    padding-top: 20px;
    font-size: 1.2rem;
    line-height: 1.2em;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}
.description-bold {
    font-weight: 400;
}
.separator {
    display: flex;
    height: 40px;
    width: 100%;
    background-color: white;
}
.services {
    text-align: center;
    width: 100%;
    max-width: 90%;
    margin: auto;
    padding: 70px 0 128px 0;
    flex: 1 1 auto;
    align-items: center;
}
.services h2 {
    font-size: 2.4rem;
    font-family: 'Red Hat Display', sans-serif;
    letter-spacing: -0.5px;
}
.services ol {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}
.services-description {
    flex-direction: column;
    font-size: 1rem;
    font-family: 'Red Hat Display', sans-serif;
    align-self: end;
    text-align: left;
}
.services-detail {
    padding: 10px 0;
    display: flex;
    align-items: flex-start;
}
.services-item {
    flex: 1 1 auto;
    align-self: center;
    font-size: 1.4rem;
    font-family: 'Red Hat Display', sans-serif;
}
.category-description {
    font-size: 0.9rem;
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    line-height: 1.2rem;
    padding: 15px 30px 0 30px;
    text-align: justify;
}
.services-separation {
    height: 1px;
    width: 100%;
    background: #eeeeee;
    margin: 40px 0;
}
.img-check {
    width: 17px;
    margin-right: 10px;
}
.img-contable {
    width: 43px;
    margin-bottom: 15px;
    margin-top: -10px;
}
.img-auditoria {
    width: 47px;
    margin-bottom: 15px;
}
.img-transferencia {
    width: 56px;
    margin-bottom: 13px;
}
.img-gestion {
    width: 49px;
    margin-bottom: 15px;
}
.line-title {
    width: 100%;
    height: 2px;
    background-color: #eeeeee;
    margin-top: 20px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}
.line-color {
    width: 50px;
    height: 3px;
    background-color: #E74D2A;
}
@media (max-width: 768px),
(orientation: portrait) {
    .header-home {
        max-height: 744px;
    }
    .bg-container-2 {
        background-color: rgb(44 43 36 / 81%);
    }
    .title-content {
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .img-corner {
        margin-left: -10px;
    }
    .img-corner-2 {
        margin-right: -10px;
    }
    .logo-white {
        width: 83%;
    }
    .img-contable {
        margin-top: 0;
    }
    .line-title {
        margin-bottom: 65px;
    }
    .services ol {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: repeat(2, auto);
        grid-gap: 40px;
    }
    .services h2 {
        font-size: 1.5rem;
    }
    .category-description {
        padding: 15px 0 0 0;
        font-size: 1rem;
    }
}
@media (orientation: landscape) {
    .header-home {
        min-height: 100vh;
    }
}
@media (min-width: 1100px) and (orientation: landscape) {
    .title-container {
        max-width: 85%;
    }
    .services {
        max-width: 85%;
    }
}